body {
  background: hsl(42, 33%, 90%);
  transition: background 0.3s, color 0.3s;
  font-family: "Quicksand", sans-serif;
}

/* Stylings for navbar */
#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  padding: 5px;
  border-radius: 1rem;
  border: none;
  box-shadow: 5px 5px 10px hsl(30, 10%, 70%);
  background: linear-gradient(90deg, hsl(30, 40%, 70%), hsl(20, 30%, 55%));
  top: 0;
}

#top-links {
  display: flex;
  justify-content: space-evenly;
}

#top-links button {
  background: none;
  border: none;
  cursor: pointer;
}

@keyframes icon-hover {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0px);
  }
}

.nav-icon,
.card-icon {
  margin-left: 1rem;
  border: none;
  background: none;
  height: 1.5rem;
}

.cart-icon {
  margin-left: 0.5rem;
  border: none;
  background: none;
  height: 1.5rem;
}

.disabled-icon,
.disabled-btn {
  opacity: 0.5;
  pointer-events: none;
}

.nav-icon:hover {
  animation: icon-hover 1s infinite;
  cursor: pointer;
}

#website-title {
  color: white;
}

.search-bar input {
  width: 50rem;
  height: 2rem;
  border: 2px solid hsl(30, 20%, 40%);
  border-radius: 1rem;
  text-align: center;
  background-color: white;
}

.search-bar input:focus,
.search-bar input:not(:placeholder-shown) {
  background-color: hsl(30, 20%, 85%);
}

#search-button {
  border: 1px solid hsl(30, 20%, 40%);
  border-radius: 3rem;
  background-color: white;
  height: 2rem;
  margin-left: 0.5rem;
}

#search-button:hover {
  cursor: pointer;
  background-color: hsl(10, 80%, 70%);
  border-color: white;
  color: white;
}

#system-message {
  position: fixed;
  top: 2rem;
  width: 20%;
  left: 50%;
  transform: translateX(-50%);
  background: #fffbe6;
  color: #333;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  z-index: 9999;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

/* Stylings for the main section */
#home-container {
  display: flex;
  flex-direction: row;
}

h1 {
  text-align: center;
}

#lesson-filter-container {
  margin-left: 1rem;
}

#lesson-filter-container input {
  margin-bottom: 1rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr)); /*3x3 grid*/
  gap: 1rem;
  width: 75%;
  margin-left: 5.5rem;
  animation: fade-in 1s ease-in;
}

.search-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  width: 75%;
  margin: 0 auto;
  animation: fade-in 1s ease-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px hsl(30, 10%, 70%);
  background: white;
}

.card:hover {
  cursor: pointer;
  transform: translateY(-0.3rem);
  transition: transform 0.2s;
}

.card-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 20rem;
}

.card .card-img-container img {
  border-radius: 1rem;
  width: 80%;
  max-height: 10rem;
  object-fit: cover;
}

.lesson-details,
.card-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.lesson-details-container {
  display: flex;
  flex-direction: column;
}

.add-button {
  background: hsl(42, 53%, 85%);
  width: 100%;
  display: flex;
  border: none;
  cursor: pointer;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.add-button img,
.remove-button img {
  margin: 0 auto;
}

.add-button:disabled,
#top-links button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.add-button:hover {
  background: linear-gradient(90deg, hsl(30, 40%, 60%), hsl(20, 30%, 45%));
}

/* Navigation buttons */
.lesson-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-top: 1rem;
}

.lesson-navigation button {
  background-color: white;
  border: none;
  box-shadow: 5px 5px 5px hsl(30, 10%, 70%);
  width: 10rem;
  height: 2rem;
  border-radius: 0.5rem;
}

.lesson-navigation button:hover {
  cursor: pointer;
  background: linear-gradient(90deg, hsl(30, 50%, 65%), hsl(20, 40%, 55%));
  color: white;
}

.lesson-navigation button:disabled {
  opacity: 0.9;
  cursor: not-allowed;
}

.lesson-navigation p {
  margin: 0 auto;
  font-size: 1rem;
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: white;
  margin-top: 0.5rem;
}

/* Stylings for cart page */
#empty-cart {
  text-align: center;
  font-size: 1.5rem;
}

.cart-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  width: 75%;
  animation: fade-in 1s ease-in;
  margin: 0 auto;
}

.remove-button {
  background-color: hsl(10, 80%, 85%);
  width: 100%;
  border: none;
  display: flex;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.remove-button:hover {
  cursor: pointer;
  background-color: hsl(10, 80%, 70%);
  border-color: white;
  color: white;
}

#displayed-total {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 1rem;
}

#cart-footer {
  text-align: center;
  padding-bottom: 2rem;
  margin-top: 1rem;
}

#checkout-button {
  background: hsl(120, 30%, 85%);
  color: hsl(120, 30%, 20%);
  border: 1px solid hsl(120, 30%, 30%);
  border-radius: 1rem;
  width: 10rem;
  height: 2rem;
}

#checkout-button:hover {
  cursor: pointer;
  background-color: hsl(120, 40%, 50%);
  border-color: white;
  color: white;
}

#checkout-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Payment section */
#payment-details {
  display: flex;
  flex-direction: row;
  background: linear-gradient(180deg, hsl(42, 33%, 90%), hsl(30, 30%, 80%));
  box-shadow: 5px 5px 10px hsl(30, 10%, 70%);
  border-radius: 1rem;
  margin: auto;
  width: 60%;
  height: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

#payment-details input {
  width: 40%;
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid hsl(30, 20%, 40%);
  text-align: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.back-button {
  margin-top: 1rem;
  box-shadow: 5px 5px 5px hsl(30, 10%, 70%);
  border: none;
  border-radius: 1rem;
  width: 5rem;
  height: 2rem;
  border-radius: 0.5rem;
}

.back-button:hover {
  cursor: pointer;
  background: linear-gradient(90deg, hsl(30, 50%, 65%), hsl(20, 40%, 55%));
  color: white;
}

/* Stylings for lesson details page */
#lesson-section {
  animation: fade-in 0.5s ease-in;
}

#lesson-info {
  display: flex;
  flex-direction: row;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 3rem;
}

#lesson-info img {
  background: none;
  max-width: 20rem;
  margin-right: 5rem;
}

#lesson-description p {
  font-size: 1.2rem;
}

#lesson-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  align-items: center;
}

#lesson-buttons #action-buttons {
  transform: translateX(10rem);
}

#action-buttons button {
  width: 12rem;
  height: 2.5rem;
  margin-right: 3rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px hsl(30, 10%, 70%);
  font-size: 1.2rem;
  border: 1px solid black;
}

#add-to-cart-btn {
  background: hsl(42, 53%, 85%);
}

#add-to-cart-btn:hover {
  cursor: pointer;
  background: linear-gradient(90deg, hsl(30, 40%, 60%), hsl(20, 30%, 45%));
}

/* Stylings for dark mode */
.dark-mode {
  background-color: hsl(30, 15%, 10%);
  color: hsl(36, 100%, 90%);
  transition: background 0.2s, color 0.2s;
}

.dark-mode #system-message {
  background: hsl(30, 15%, 15%);
  color: hsl(36, 100%, 90%);
  border: 1px solid hsl(36, 100%, 90%);
}

.dark-mode hr {
  border: 1px solid hsl(36, 100%, 90%);
}

.dark-mode .lesson-navigation button,
.dark-mode .lesson-navigation p,
.dark-mode .back-button {
  background-color: hsl(30, 15%, 15%);
  color: hsl(36, 100%, 90%);
  box-shadow: 5px 5px 5px hsl(30, 10%, 30%);
}

.dark-mode .card {
  background-color: hsl(30, 15%, 5%);
  color: hsl(36, 100%, 90%);
  border: none;
  box-shadow: 5px 5px 10px hsl(30, 10%, 30%);
}

.dark-mode #navbar {
  background: linear-gradient(90deg, hsl(30, 20%, 20%), hsl(10, 30%, 20%));
  box-shadow: 5px 5px 10px hsl(30, 10%, 30%);
}

.dark-mode #navbar input,
.dark-mode #payment-details input {
  background-color: hsl(30, 15%, 12%);
  color: hsl(36, 100%, 90%);
  border: 1px solid hsl(36, 100%, 60%);
}

.dark-mode #navbar button {
  background-color: hsl(30, 15%, 12%);
  color: hsl(36, 100%, 90%);
  border: 1px solid hsl(36, 100%, 60%);
}

.dark-mode #navbar button:hover {
  background: linear-gradient(90deg, hsl(30, 20%, 20%), hsl(10, 30%, 20%));
  color: hsl(36, 100%, 90%);
  border-color: hsl(36, 100%, 90%);
}

.dark-mode #top-links button {
  background: none;
  border: none;
  cursor: pointer;
}

.dark-mode #top-links button:hover {
  background: none;
}

.dark-mode #top-links disabled:hover {
  cursor: not-allowed;
}

.dark-mode .add-button {
  background: hsl(42, 53%, 70%);
}

.dark-mode .add-button:hover {
  background: linear-gradient(90deg, hsl(30, 40%, 60%), hsl(20, 30%, 45%));
}

.dark-mode #payment-details {
  background: linear-gradient(180deg, hsl(30, 15%, 15%), hsl(30, 15%, 10%));
  border: none;
  box-shadow: 5px 5px 10px hsl(30, 10%, 30%);
}

.dark-mode #action-buttons button {
  border: 2px solid white;
  box-shadow: none;
}
